{% extends 'video/base.html' %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
<div class="row my-5">
    <div class="col-12">
        {% autoescape off %}
        {{ movie.iframe }}
        {% endautoescape %}
    </div>
    <div class="col-12">
        <h2 class="py-3">{{ movie.title }}</h2>
        <span id="pk" class="d-none">{{ movie.pk }}</span>
        <span>視聴回数: {{ movie.view }} 回</span>
        <ul class="eval_list">
            <li><a id="good"><i class="far fa-hand-point-up"></i></a></li>
            <li><span id="good_cnt">{{ movie.good }}</span></li>
            <li><a id="bad"><i class="far fa-hand-point-down"></i></a></li>
            <li><span id="bad_cnt">{{ movie.bad }}</span></li>
        </ul>
    </div>
    <div class="col-12">
        <h2 class="py-3 icon"><i class="fas fa-fire text-danger"></i>あなたへのおすすめ</h2>
    </div>
    {% for movie in relation %}
    <div class="mv_item col-6 col-md-3">
        <a href="{% url 'video:movie' movie.pk %}" class="mv_img">
            <img src="{{ movie.thumb.url }}">
        </a>
        <article>
            <h3>{{ movie.title }}</h3>
            <div>
                <ul class="eval_list">
                    <li><a><i class="far fa-hand-point-up"></i></a></li>
                    <li><span>{{ movie.good }}</span></li>
                    <li><a><i class="far fa-hand-point-down"></i></a></li>
                    <li><span>{{ movie.bad }}</span></li>
                </ul>
            </div>
            <a href="{% url 'video:category' movie.category.title %}" class="badge badge-danger">{{ movie.category }}</a>
            {% for tag in movie.tag %}
            <a href="{% url 'video:tag' tag %}" class="badge badge-primary">{{ tag }}</a>
            {% endfor %}
        </article>
    </div>
    {% endfor %}
    <div class="col-12 my-5">
        {% if comments %}
            <h2 class="py-3 icon"><i class="far fa-comments text-info"></i>コメント一覧</h2>
        {% endif %}
        {% for comment in comments %}
            <p class="comment"><span class="badge badge-info">{{ comment.name }}</span><br>{{ comment.comment }}</p>
        {% endfor %}
    </div>
</div>
</div>
<section id="comment">
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <h2 class="py-3 icon"><i class="far fa-comment text-info"></i>コメントを書き込む</h2>
                <form action="{% url 'video:movie' movie.pk %}" method="post" class="form-block justify-content-center">
                    {% csrf_token %}
                    {{ comment_form.name|add_class:"form-control w-100 my-3" }}
                    {{ comment_form.comment|add_class:"form-control w-100 my-3" }}
                    <span class="px-3 my-5 d-block text-center "><input type="submit" value="コメントする" class="btn btn-primary"></span>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}